<h2>Contact Us</h2>
<p>
Ré (Rachael) A. Mansbach, Ph.D. <br>
Assistant Professor <br>
Department of Physics <br>
Concordia University <br>
<br>
email: re.mansbach (at) concordia.ca <br>
<br>
</p>

<p>
 <h3> Interested in joining the Mansbach lab? </h3>
 We are always in the market for motivated and talented people. <a href="{{ site.url }}/join"><b>Open positions are listed on our Join page.</b></a><br>
 We welcome applicants from <b>all</b> backgrounds.<br>
</p>

<p>
 <h3> See our <a href="{{ site.url }}/compact/">lab compact and philosophy</a></h3>

</p>


<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul>
